.container {
    background-color: #f9f4ef;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #cfd8dc;
}

.navTitle{
    font-size: 36px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navList{
    padding: 5px;
    font-size: 20px;
}